################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PowerPlants/bin/Debug/net5.0
/PowerPlants/obj
/.vs/powerplant-coding-challenge/v16
